.button {
    display: flex;
    justify-content: end;
}


.save {
    display: flex;
    justify-items: center;
    color: black

}
.schedule-container {
    margin: 2rem auto;
    width: 60%;
    text-align: left;
    padding: 5rem 3rem;
    border: 1px solid var(--outline);
    background-color: white;
    border-radius: 0.5rem;
  }
  
  /* This targets any div that is a child of an element with the .welcome-container class */
  .schedule-container > div {
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  /* This targets any div that is a child of an element with the .welcome-container class */
  .schedule-container > div {
    font-style: italic;
  }